@import './_variables.css';
@import './_fonts.css';
@import './_reset.css';
@import './_components.css';
@import './_layout.css';

body {
  font-family: var(--font-body);
  font-weight: var(--fw-body-regular);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--color-davy-grey);
  background-color: var(--color-white);
}
